/**
 * Homepage - How to Use
 */

@use "../base" as *;

.how-to-use {
  background-color: $bg-light;
  padding: 58px 0 86px;
  border-bottom: 1.5px solid $color-blue-300;

  .container {
    text-align: center;
  }

  &__text-overline {
    margin-bottom: 37px;
  }

  &__icon {
    display: block;
    margin: auto;
  }

  &__title {
    margin: 40px 0 90px;
  }

  // Image Container
  &__image-container {
    border-radius: 50px;
    overflow: hidden;
    position: relative;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__step-count {
    background-color: $color-white;
    position: absolute;
    top: 26px;
    left: 26px;
    width: 50px;
    height: 50px;
    font-family: $font-family-headings;
    font-size: 26px;
    font-weight: 900;
    line-height: 24px;
    color: $color-charcoal;
    padding: 12px;
    border: 1.5px solid $color-black;
    border-radius: 50px;
  }

  // Steps
  &__steps {
    gap: 32px;

    @include respond-to('xl') {
      gap: 133px;
    }
  }

  &__step {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  &__text-container {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 28px;
  }

  &__eye-cream {
    .how-to-use__text-container {
      gap: 0;
    }
  }
}