/**
 * Homepage - Testimonials
 */

@use "../base" as *;

.testimonials {
  background-color: $bg-light;
  padding: 108px 0 79px;

  &__title {
    text-align: center;
    margin-bottom: 43px;
  }

  // Slider
  &__slider {
    height: 558px;
  }

  &__slide {
    width: 100%;
    margin-right: 25px;
    border: 1.5px solid $color-royal-blue;
    border-radius: 30px;
    overflow: hidden;

    @include respond-to('md') {
      width: calc(50% - 25px);
    }

    @include respond-to('lg') {
      width: calc(33.3333% - 25px);
    }

    @include respond-to('xl') {
      width: calc(25% - 25px);
    }
  }

  &__slide-image {
    width: 100%;
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  // Mute Button
  &__mute-button {
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 38px;
    height: 38px;
    border: 1.5px solid $color-royal-blue;
    border-radius: 70px;
    cursor: pointer;

    > img {
      width: 20.11px;
      height: 16.52px;
      object-fit: contain;
    }
  }

  // Play Button
  &__play-button {
    background-color: $color-white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 68px;
    height: 68px;
    padding: 17px 17.75px 17px 24.51px;
    margin: auto;
    border: 1.5px solid $color-royal-blue;
    border-radius: 70px;
    cursor: pointer;
  }

  // Product Details
  &__product-details {
    background-color: $color-white;
    position: absolute;
    bottom: 0;
    width: calc(100% - 20px);
    align-items: center;
    justify-content: space-between;
    padding: 13px 16px;
    margin: 10px;
    border-radius: 20px;

    .btn {
      min-width: 92px;
      min-height: unset;
      height: 42px;
      padding: 7px 14px;
    }
  }

  &__product-rating {
    margin-bottom: 5.83px;
  }

  &__product-title {
    font-size: 15px;
    font-weight: 600;
    color: $color-royal-blue;
    line-height: 16px;
    letter-spacing: -0.09px;
  }

  &__product-price {
    font-size: 14px;
    color: $color-blue-400;
  }
}