/**
 * Animations
 */

.animate-float {
  animation: floatUpDown 3s ease-in-out infinite;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
  
  100% {
    transform: translateY(0);
  }
}