/**
 * Base
 */

@use "variables" as *;
@use "mixins" as *;

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  margin-bottom: 0;
}

p, ul, ol {
  font-family: $font-family-base;
  font-size: 18px;
  line-height: 24px;
  color: $text-color-base;
  margin-bottom: 0;
}

.text-heading {
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 52px;
  letter-spacing: -0.83px;

  &--light {
    color: $color-off-white;
  }

  &--dark {
    color: $color-charcoal;
  }

  &--large {
    @include respond-to('lg') {
      font-size: 80px;
      line-height: 72px;
      letter-spacing: -1.33px;
    }
  }
}

.container {
  max-width: 1264px;
  padding-right: 16px;
  padding-left: 16px;
  margin: auto;

  @include respond-to('xl') {
    padding: 0;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  font-family: $font-family-base;
  font-size: 18px;
  min-height: 56px;
  padding: 14px;
  border-radius: 100px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;

  &--primary {
    background-color: $color-yellow;
    color: $color-charcoal;

    &:hover, &:focus {
      background-color: $color-blue-900;
      color: $color-white;
    }
  }

  &--secondary {
    background-color: $color-blue-900;
    color: $color-white;

    &:hover, &:focus {
      background-color: $color-yellow;
      color: $color-charcoal;
    }
  }
}