/**
 * Variables
 */

// Primary Colors
$color-blue-100: #EFF7FA;
$color-blue-300: #464F6E;
$color-blue-400: #434C6C;
$color-blue-800: #292A35;
$color-blue-900: #222430;

// Accents
$color-green-dark: #1D3C34;
$color-royal-blue: #002657;
$color-yellow: #FFBA00;

// Neutrals
$color-white: #FFFFFF;
$color-off-white: #FFFAF6;
$color-charcoal: #2E302E;
$color-black: #000000;

// Semantic Colors
$accent: $color-yellow;

$bg-white: $color-white;
$bg-light: $color-blue-100;
$bg-dark: $color-blue-800;

$text-color-base: $color-charcoal;

// Typography
$font-family-base: "Roboto Mono", monospace;
$font-family-headings: "Inter", sans-serif;

// Breakpoints
$breakpoints: (
  'sm': 480px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1300px,
);